<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See All Data</title>
    <link rel="stylesheet" type="text/css"  href="./style.css"/>
    <link rel="stylesheet" type="text/css"  href="./readStyle.css">
    <script src="readScript.js" async defer></script>
</head>
<body onload="init()">
    <div id="HarshHeading">
        <h1>See All Application</h1>
        <p>By : Harsh Kumar</p>
    </div>
    <section id="HarshMain">
        <a href="/" style="color:blue;text-decoration: none;">Home</a>&gt;See All Application
        <br><br>
        <section id="Content"></section>
        <section id="findData"></section>
    </section>

</body>
</html>