<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week 1 Assignment</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="script.js" async defer></script>
</head>
<body onload="init()">
    <div id="HarshHeading">
        <h1>Week 1 Assignment</h1>
        <p>By : Harsh Kumar</p>
    </div>
    <section id="HarshMain">
        <div id="HarshMainHeading">
            Job Application Management System
            <p id="date-time"> 
                Date : <span id="DATE"></span><br>
                Time : <span id="TIME"></span>
            </p>
        </div>
        <div id="HarshMainNavlinks">
            <a href="/createApplication" id="one">New Application</a>
            <a href="/readApplication" id="two">See All Application</a>
            <a href="/updateApplication" id="three">Update Application</a>
            <a href="/deleteApplication" id="four">Remove Application</a>
        </div>
    </section>
    <section id="Harshfooter">
        By:Harsh Kumar (harshkumar093@gmail.com)
    </section>
</body>
</html>